.trading {
    &__section {
        margin-bottom: rem(160);
        @include media(990) {
            margin-bottom: rem(128);
        }
    }
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        margin-bottom: rem(60);
        @include media(990) {
            font-size: 32px;
            line-height: 130%;
            margin-bottom: rem(24);
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box {
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
        &.big-box {
            max-width: 560px;
            margin-bottom: rem(40);
            @include media(990){
                margin: 0 auto rem(32);
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                margin-bottom: rem(30);
                @include media(990){
                    font-size: 16px;
                    line-height: 160%;
                    margin-bottom: rem(12);
                }
            }
            img {
                width: 100%;
            }
            &:nth-child(2) {
                max-width: 580px;
                width: 100%;
            }
        }
        &.small-box {
            max-width: 270px;
            width: 100%;
            position: relative;
            height: 152px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            @include media(990) {
                max-width: 350px;
                margin: 0 auto rem(24);
                height: 200px;
            }
            .box-bg {
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                img{
                    @include media(990) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }  
                }
            }
            .icon {
                max-width: 32px;
                margin-bottom: 16px;
            }
            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                max-width: 270px;
                margin: 0 auto;
            }
        }
    }
}