.work {
    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(160);
        @include media(990) {
            margin-bottom: 76px;
            flex-wrap: wrap;
        }
    }
    &__image {
        background: #020205;
        border-radius: 12px;
        max-width: 480px;
        width: 100%;
        height: 480px;
        padding: 14px 24px 0 0;
        position: relative;
        overflow: hidden;
        @include media(990) {
            max-width: 343px;
            height: 343px;
            border-radius: 8.575px;
            padding: 0 17px;
            margin: 0 auto rem(24);
        }
    }
    &__logo {
        max-width: 109px;
        position: absolute;
        top: 14px;
        left: 22px;

        img {
            width: 100%;
        }
        @include media(990) {
            max-width: 90px;
            left: 16px;
            top: 0;
            z-index: 1;
        }
    }
    &__lottie {
        position: absolute;
        top: 17px;
        right: 24px;
        z-index: 1;
        lottie-player {
            max-width: 200px;
            @include media(990) {
                max-width: 144px;
            }
        }
        @include media(990) {
            top: 12px;
            right: 17px;
        }
    }
    &__people {
        position: absolute;
        bottom: -0;
        left: -0;
        img {
            max-width: 100%;
        }
        picture { 
            @include media(990) {
                max-width: 260px;
                max-height: 260px;
            }
        }
        @include media(990) {
            max-width: 260px;
            max-height: 260px;
        }
    }
    &__setting-img {
        position: absolute;
        top: 198px;
        left: 47px;
        img {
            max-width: 23px;
        }
        @include media(990) {
            left: 34px;
            top:142px;
        }
    }
    &__candle-img {
        position: absolute;
        bottom: 124px;
        right: 27px;
        img {
            
            @include media(990) {
                max-width: 100%;
            }
        }
        @include media(990) {
            max-width: 34px;
            right: 22px;
            bottom: 86px;
        }
    }
    &__text {
        max-width: 570px;
        width: 100%;
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            margin-bottom: 20px;
            @include media(990) {
                font-size: 16px;
                line-height: 160%;
                margin-bottom: rem(16);
            }
        }
    }
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: rem(24);
        br {
            display: none;
            @include media(990) {
            display: block;
            }
        }
        @include media(990) {
            font-size: 32px;
            line-height: 130%;
            margin-bottom: rem(12);
        }
    }
}