// =====================================================================================================================
.header {
  width: 100%;
  background: #F8DF55;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 490px;
  margin-left: auto;
  border-radius: 0px 0px 0px 20px;
  z-index: 10;
  @include media(600) {
	max-width: 100%;
	border-radius: 0;
  }
  &__block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 24px 14.5px;
	cursor: pointer;
	@include media(990) {
		padding: 5px 16px;
	}
	@include media(600) {
		
	  }
	svg {
		transition: all 0.3s ease-in-out;
		@include media(600) {
			max-width: 200px;
			display: inline-block;
		  }
	}
	transition: all 0.3s ease-in-out;
	&:hover svg {
		transform: rotate(45deg);
	}
  }
  &__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #04040C;
	@include media(990) {
		font-size: 16px;
	}
	@include media(600) {
		max-width: 200px;
		display: inline-block;
	  }
	img {
		max-height: 18px;
		margin-left: 5px;
		@include media(990) {
			max-height: 16px;
			
		}
		@include media(600) {
			margin-top: 5px;
		  }
	}
  }
  &.d-none {
	display: none;
  }
}
// =====================================================================================================================

// Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/