.join-btn {
    padding: 15px 40px;
    background: #F8DF55;
    border-radius: 50px;
    width: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #04040C;
    cursor: pointer;
    &:hover {
    text-decoration: underline;
    }
    @include media (990) {
        padding: 19px 40px;
        font-weight: 700;
    }
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: scale(1.05);
        @include media (600) {
            transform: none;
        }
    }
}
